.rec-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

.rec-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px !important;
  margin: auto;
  text-align: center;
}

.rec-card title {
  color: grey;
  font-size: 18px;
}

.rec-card a {
  text-decoration: none;
  font-size: 22px;
}

.rec-card img {
  max-height: 212px;
}

.rec-card button:hover, a:hover {
  opacity: 0.7;
}