<div class="rec-card my-8">
<img src="{{ .Get "avatar" }}" alt="{{ .Get "name" }}" style="width:100%">
<h1>{{ .Get "name" }}</h1>
<p class="title">{{ .Get "title" }}</p>
{{ if .Get "site" }}
<a href="{{ .Get "site" }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-home"></i></a>
{{ end }}
{{ if .Get "github" }}
<a href="https://github.com/{{ .Get "github" }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-github"></i></a>
{{ end }}
{{ if .Get "twitter" }}
<a href="https://twitter.com/{{ .Get "twitter" }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a>
{{ end }}
{{ if .Get "linkedin" }}
<a href="https://www.linkedin.com/in/{{ .Get "linkedin" }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a>
{{ end }}
{{ if .Get "keybase" }}
<a href="https://keybase.io/{{ .Get "keybase" }}" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-keybase"></i></a>
{{ end }}
{{ if .Get "facebook" }}
<a href="{{ .Get "facebook" }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook"></i></a>
{{ end }}
</div>
